<% posted = Time.at(@job['posted'].to_i) %>
<a href=<%= "jobs/#{@job['id']}" %> >
<div style="display:block">
  <span class="job-heading">
    <span class="job-title">
      <%= "#{@job['title']}" %>
    </span>
    &nbsp -
    <span class="job-source">Posted on localhost:3000
    </span>
  <span>
  <span class="job-company">
    <%= "#{@job['company']}" %>
  </span>
  <span>
    <span class="job-posted">
      <%= posted.to_formatted_s(:month_day_year) %>
    </span>
    <span class="job-description">
      <%= "#{@job['body']}" %>
    </span>
    <span>more
    </span>
  </span>
</div>
</a>
